.svgicon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

//{{#shapes}}
//.icon-{{base}} {
//	font-size:({{height.inner}}/10)*1rem;
//	width:({{width.inner}}/{{height.inner}})*1em;
//}
//{{/shapes}}